.nav {
    grid-area: n;
    background-color: rgb(84, 69, 151);
    padding: 20px;
    font-size: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: rgb(235, 213, 21);
}
