.background img {
    width: 1200px;
    height: 400px;
}

.describtionBlock img {
    width: 100px;
    height: 100px;
}

.describtionBlock {
    padding: 10px;
}

.userPhoto {
    width: 100px;
    height: 100px;
}